*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  color:#ffffff;
  display: flex;
  flex-direction: column;
  background-color: rgb(50, 50, 50);
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.nomeprincipal {
  color:#ffffff;
  font-size:64px;
  font-family:Sen;
  letter-spacing:4.5px;
  line-height:85.81250309944153px;
}

.estudante
{   
  font-style: italic;
  display: flex;
  justify-content: center;
  color:#ffffff;
  font-size:25px;
  font-family:Sen;

}

#linha-imagem {
  width: 300px;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}


.linkedinicon
{
height:90px;
width:88px;
left:592px;
top:451px;
position:absolute;
}
.instaicon
{
height:83px;
width:84px;
left:702px;
top:458px;
position:absolute;
}
.giticon
{
height:83px;
width:81px;
left:489px;
top:458px;
position:absolute;
}

