*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(50, 50, 50);

}
.Repositories2 {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.Repositories2 ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  text-decoration: none;
}

.Repositories2 li {
  border: 3px solid #ccc;
  padding: 10px;
  font-size: 30px;
  font-family: Sen;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.6), 0 20px 15px -3px rgba(0, 0, 0, 0.6);
}

.Repositories2 li a:link,
.Repositories2 li a:visited {
  color: #ccc;
  text-decoration: none;
}

.Repositories2 li a:hover,
.Repositories2 li a:active {
  color: rgb(50, 50. 50);
  text-decoration: underline;
}
html, body {
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgb(50, 50, 50);
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
@media (min-width: 768px) {
  *{
    padding: 0;
    box-sizing: border-box;
  }
  h1 {
    text-align: center;
    font-family: Sen;
    font-size: 40px;
    color: white;
  }
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.container3{
  color:#ffffff;
  display: flex;
  flex-direction: column;
  background-color: rgb(50, 50, 50);
  align-items: center;
  justify-content: center;
  height: 70vh;
  font-size: 54px;
  font-family: Sen;
  font-weight: 900;

}

.nomeprincipal {
  color:#ffffff;
  font-size:64px;
  font-family:Sen;
  letter-spacing:4.5px;
  line-height:85.81250309944153px;
}

.estudante
{   
  font-style: italic;
  display: flex;
  justify-content: center;
  color:#ffffff;
  font-size:25px;
  font-family:Sen;

}

#linha-imagem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
#linha-imagem img {
  width: 100vw;
  max-width: 100px;
  margin: 10px;
}

/*Sobre*/
.container2 {
  color: #ffffff;
  display: grid;
  background-color: rgb(50, 50, 50);
  width: 100vw;
  height: 100%auto;
}

.imagem img {
  width: 300px;
  height: 300px;
  margin-left: 180px;
}

#textoSobre h1 {
  font-family: Sen;
  text-align: center;
  margin-right: 20px;
  font-weight: 900;
  font-size: 40px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
  font-family: Sen;
  padding: 20px;
  font-size: 26px;
  text-align: justify;
  margin-top: 13PX;
  margin-right: 30px;
}


.p-3 {
  padding: 2rem!important;
}
.p-4 {
  padding: 5rem!important;
}


.carousel-container{
  background-color: rgb(50, 50, 50);
  margin: 0;
 }

.alice-carousel:hover {
  cursor: pointer;
}
.title {
  text-align: center;
  display: block;
}

  .Repositories2 {
    display: flex;
    justify-content: center;
    text-decoration:none;
  }

  .Repositories2 ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    text-decoration:none;
  }

  .Repositories2 li {
    border: 3px solid #ccc;
    padding: 10px;
    font-size: 30px;
    font-family: Sen;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.6), 0 20px 15px -3px rgba(0, 0, 0, 0.6);
    
    
  }
  .Repositories2 li a:link,
  .Repositories2 li a:visited {
    color: #ccc;
    text-decoration:none;
  }

  .Repositories2 li a:hover,
  .Repositories2 li a:active {
    color: rgb(50, 50. 50);
    text-decoration: underline;
  }

footer {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Sen;
  font-size: 20px;
  background: #000000;
  color: #ffffff;
  box-sizing: border-box;
}
}

/*TELAS MENORES*/
@media (max-width: 767px) {
    *{
      padding: 0;
      box-sizing: border-box;
    
  }
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.Repositories2 ul {
  grid-template-columns: repeat(2, 1fr);
}

.Repositories2 li {
  font-size: 20px;
  padding: 5px;
}
  .container3{
    padding: 20px;
    color:#ffffff;
    display:flex;
    flex-direction: column;
    background-color: rgb(50, 50, 50);
    align-items: center;
    justify-content: center;
    height: 70vh;
    font-size: 30px;
    font-family: Sen;
    font-weight: 900;
    overflow-x: hidden;
    text-align: center;
  }
  .container2 {
    color: #ffffff;
    display: grid;
    background-color: rgb(50, 50, 50);
    width: 100vw;
    height: 100%auto;
  }
  .nomeprincipal {
    font-size: 48px;
    line-height: 60px;
  }

  .estudante {
    font-size: 20px;
  }

  #linha-imagem {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;

  }
  #linha-imagem img {
    width: 100vw;
    max-width: 70px;
    margin: 10px;
  }
  

  .imagem img {
    width: 300px;
    height: 300px;
  }
  .imagem {
    display: flex;
    justify-content: center;
  }

  #textoSobre h1 {
    font-family: Sen;
    margin-right: 20px;
    font-weight: 900;
    font-size: 28px;
    text-align: center; /* adicionado para centralizar o texto */
}

#textoSobre{
  width: 100%;
background-color: rgb(50, 50, 50);
}
  
  

  .grid-container {
    grid-template-columns: repeat(1, 1fr);
    padding: 20px;

  }

  .grid-item {
    text-align: justify;
    font-size: 16px;
    font-family: Sen;
    margin-top: 20px;
    margin-right: 0;
  }

  .p-3 {
    padding: 1rem!important;
  }

  .p-4 {
    padding: 2rem!important;
  }

  
 skillsH1 h1{
  font-family: Sen;
  font-weight: 900;
  font-size: 40px;
 }
.carousel-container{
  background-color: rgb(50, 50, 50);
 }
 h1 {
  text-align: center;
  font-family: Sen;
  font-size: 28px;
  color: white;
}
.Repositories2 {
  display: flex;
  justify-content: center;
}

.Repositories2 ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  list-style: none;
  padding: 20px;
  margin: 0;
  text-align: center;
  
}

.Repositories2 li {
  border: 3px solid #ccc;
  padding: 5px;
  font-size: 20px;
  font-family: Sen;
}
.Repositories2 li a:link,
  .Repositories2 li a:visited {
    color: #ccc;
  }

  .Repositories2 li a:hover,
  .Repositories2 li a:active {
    color: rgb(50, 50. 50);
  }
  footer {
    flex-direction: column;
    font-size: 16px;
    width: 100%;
    padding: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: Sen;
    background: #000000;
      color: #ffffff;
    box-sizing: border-box;
  }

  footer p {
    margin: 5px 0;
  }
}

